<!DOCTYPE html>
<html>
{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<head>
  <meta charset='utf-8'>
  {%if title%}
  <title>{{title}}</title>
  {%else%}
  <title>welcome to the best movie review website</title>
  {%endif%}
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
  <script src='main.js'></script>
</head>

<body>
  <!-- Styles block -->

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

  <!-- Content block -->
  {% block content %}
  <div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>
  <!-- Popular movie -->
  <div class="container">
  <div class="row">
  <h3> Popular Movies</h3>
  <p>
    {{ macro.displayMovieList(popular)}}
  </p>
  </div>
  <!-- Upcoming movie  -->
  <div class="row">
  <h3> Upcoming Movies </h3>
  <p>
    {{ macro.displayMovieList(upcoming)}}
  </p>
  </div>
  <!-- Now showing movie -->
  <div class="row">
  <h3>Now Showing</h3>
  <p>
    {{ macro.displayMovieList(now_showing)}}
  </p>
  </div>
  {% endblock%}
  </div>
</body>

</html>